@model TestV.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vcName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vcName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vcEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vcEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vcAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vcAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtHire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtHire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dcSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dcSalary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
