@model IEnumerable<TestV.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.vcName)*@
                Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.vcEmail)*@
                Email
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.vcAddress)*@
                Address
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.intPhone)*@
                Phone Number
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.dtHire)*@
                Date of Hire
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.dcSalary)*@
                <div style="color: red">Salary (IDR)</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vcName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vcEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vcAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtHire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dcSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
